<div class="navbar">
    <div class="banner">
      <div class="container-xl">
        <div class="row" style="display: flex; width: 100%; padding: 0 50px; justify-content: space-between;
          margin: 15px 0; width: auto; flex-wrap: wrap;">
          <div style="display: flex; width: auto;">
            <img src="assets/images/boarding-pass.png" style="width: auto; height: 80px;"    />
            <h3 style="width: auto; margin: auto 0px; font-size: 30px; font-weight: 600;">TICKETS-FAST</h3>
          </div>
          <button mat-icon-button color="basic"  style="float: right; margin: auto 0;"  (click)="logout()">
            <mat-icon >home</mat-icon>
          </button>
        </div>
       
      </div>
    </div>
</div>

<router-outlet></router-outlet>